table {
    margin: 50px auto;
    width: 500px;
    height: 400px;
}

tr {
    width: 50px;
    height: 70px;
    border: solid black 1px;
}
td {
    border: solid black 1px;
}
.blankSpot{
    background-color: grey;
}
.blackPlayer{
    background-color: black;
}
.whitePlayer{
    background-color: white;
}